# django 
SECRET_KEY="your-secret-key-here"
CORS_ALLOWED_ORIGINS_ENV = ["http://localhost:8000"]
ALLOWED_HOSTS="*"
DEBUG="true"
ENVIROMENT="TEST" #DEVELOP TEST HOMOLOG PROD
# base de dados 
DB_NAME="crmapi"
DB_USER="postgres"
DB_PASS="your-database-password"
DB_HOST="postgres"
DB_PORT="5432"
